{% include 'header.html' %}

    <div class="main-container">
      <div class="about">
        <h3>About the project</h3>
        <br>
        <p>The To-Do-List project is a part of my portfolio, where I want to show my Flask skills. Built as Flask application and using Bootstrap as the layout template, the project works as a task manager and helps with organization for all the following projects I am focused on.</p>
        <p>Below you can find layouts for every functionality windows and a bit of help with getting familiar with the whole project itself.</p>
      </div>


    </div>


{% include "footer.html" %}