{% include 'header.html' %}

    <div class="main-container">
      <div class="contact">
        <h3>Contact me</h3>
        <br>
        <p>I you have any questions, want to help me with improving my development skills or you just spotted an error, feel free to contact me:</p>
        <div class="contact-info">
          <p>email: udemytutorialpython@gmail.com</p>
          <p>https://github.com/StarlessAce</p>
        </div>
        <p>Thanks for your effort and help!</p>
      </div>


    </div>


{% include "footer.html" %}