{% include 'header.html' %}


        <main role="main" class="main-index">

    <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Flask to-do-list</h1>
              <p>Make your own to-do-list. Make your life easier.</p>
              <p><a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">Learn more &raquo;</a></p>
            </div>
            </div>
        </main>
        <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                  <div class="col-md-4">
                    <h2>Easy to use</h2>
                    <p>This simple web application brings a lot of joy in organizing yourself in daily tasks. Add a task, subtask and see how your progress is heading finish</p>
                    <p><a class="btn btn-secondary" href="{{ url_for('about') }}" role="button">View details &raquo;</a></p>
                  </div>
                  <div class="col-md-4">
                    <h2>Always for free</h2>
                    <p>The app itself is completely free of charge. Stay tuned for upgrade possibility in the near future. For now sit back, relax and focus on tasks.</p>
                    <p><a class="btn btn-secondary" href="{{ url_for('about') }}" role="button">View details &raquo;</a></p>
                  </div>
                  <div class="col-md-4">
                    <h2>Your own data and tasks storage</h2>
                    <p>Once you've registered, all the tasks you create are held on your account. Keep it just for yourself or share it with your coworkers. </p>
                    <p><a class="btn btn-secondary" href="{{ url_for('about') }}" role="button">View details &raquo;</a></p>
                  </div>
                </div>

                <hr>

        </div> <!-- /container -->



{% include "footer.html" %}